.contacts {
  position: relative;
}

.contacts__container {
  position: absolute;
  top: -70px;
  left: 198px;
  width: 413px;
  height: 611px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  background-color: #F7FAFC;
  box-shadow: 0 4px 40px rgba(217, 217, 217, 0.3);
  z-index: 1;

  @media (max-width: $tabletSize) {
    position: static;
    width: auto;
    height: 468px;
    margin-top: 110px;
    border-radius: 12px 12px 0 0;
    box-shadow: none;
  }
}

.contacts__wrapper {
  height: 100%;
  padding: 60px 65px 70px 70px;

  @media (max-width: $tabletSize) {
    padding: 60px 65px 0 42px;
  }
}

.contacts__title {
  display: block;
  margin-bottom: 38px;
  font-family: "Rubik", "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
}

.contacts__subtitle {
  margin-bottom: 11px;
}

.contacts__list {
  list-style: none;

  @media (max-width: $tabletSize) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__item-tel {
  @media (max-width: $tabletSize) {
    grid-column: -1 / -2;
    grid-row: 1 / 2;
  }
}

.contacts__description {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.contacts__link {
  text-decoration: none;
  color: $textColor;
}

.contacts__item-social {
  .contacts__subtitle {
    margin-bottom: 16px;
  }
}

.contacts__social {
  display: grid;
  grid-template-columns: 24px 24px 24px;
  grid-gap: 15px;
  list-style: none;
}

.social__link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('../images/dest/icon-fb.png');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 2px 10px rgba(165, 168, 176, 0.1);
}

.social__link--vk {
  background-image: url('../images/dest/icon-vk.png');
}

.social__link--instagram {
  background-image: url('../images/dest/icon-inst.png');
}












