.page__footer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  height: 114px;
  padding: 0 45px;

  @media (max-width: $tabletSize) {
    height: 92px;
  }
}

.page__footer__link {
  text-decoration: none;
  color: $textColor;
}