.header__wrapper {
  display: grid;
  grid-template-columns: 143px auto 190px;
  grid-template-rows: 103px;
  grid-gap: 57px;
  align-items: center;
  width: 85.65%;
  min-width: 1170px;
  max-width: 1440px;
  margin: 0 auto;
}

.header__logo {
  width: 143px;
  height: 23px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.navigation__list {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: start;
  gap: 20px;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: $textColor;
  &:hover,
  &:focus,{
  opacity: 0.5;
}
}

.header__contact {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-decoration: none;
  color: $textColor;
  &:hover,
  &:focus,{
    opacity: 0.5;
  }
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 15px;
    height: 15px;
    background-image: url("../images/dest/icon-phone.svg");
  }
}
