.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 143px;
  height: 23px;
  margin-right: 4.87%;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85.65%;
  height: 103px;
  min-width: 1170px;
  max-width: 1440px;
  outline: 1px solid orange;
}

.header__wrapper {
  display: flex;
  width: 82.9%;
  min-width: 970px;
  outline: 1px solid green;
}

.navigation {
  margin-right: auto;
}

.navigation__list {
  display: flex;
  list-style: none;
}

.navigation__item {
  margin-right: 20px;
}

.navigation__link {
  text-decoration: none;
  color: #122659;
  &:hover,
  &:focus,{
  opacity: 0.5;
}
}

.header__contact {
  margin-right: 4px;
  text-decoration: none;
  color: #122659;
  &:hover,
  &:focus,{
    opacity: 0.5;
  }
}
