.map {
  margin-top: 200px;

  @media (max-width: $tabletSize) {
    margin-top: 0;
  }
}

.map__wrapper--js {
  width: 100%;
  height: 611px;
}

@media (max-width: $tabletSize) {
  .map__wrapper--js {
    height: 438px;
  }
}

@media (max-width: $mobileSie) {
  .map__wrapper--js {
    height: 261px;
  }
}