.introduction {
  height: 512px;
  background-image: url('./images/mask-desctop.svg'), url('./images/main-photo@2x.jpg');
  background-position: 0 100.3%, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, cover;

  @media (max-width: $tabletSize) {
    height: 441px;
    background-image: url('./images/mask-table.svg'), url('./images/main-photo-768@2x.jpg');
    background-position: 0 100%, center;
  }

  @media (max-width: $mobileSie) {
    height: 304px;
    background-image: url('./images/main-photo-320.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.introduction__wrapper {
  position: relative;
  width: 71.01%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 121px;

  &::before {
    content: "";
    position: absolute;
    top: 37px;
    left: -130px;
    width: 106px;
    height: 84px;
    background-image: url("./images/car.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 65px;
    right: -115px;
    width: 91px;
    height: 62px;
    background-image: url("./images/cloud.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: $tabletSize) {
    width: 88.2%;
    max-width: none;
    padding-top: 77px;

    &::before {
      top: 31px;
      left: -35px;
      width: 58px;
      height: 46px;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobileSie) {
    width: 100%;
    //width: 84.37%;
    padding-left: 25px;
    padding-top: 51px;

    &::before {
      top: 12px;
      left: 2px;
      width: 48px;
      height: 38px;
    }
  }
}

.introduction__title {
  font-size: 42px;

  @media (max-width: $mobileSie) {
    font-size: 28px;
    line-height: 140%;
  }
}

.introduction__subtitle {
  margin-bottom: 25px;
  font-family: "Rubik", "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  @media (max-width: $mobileSie) {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 140%;
  }
}

.introduction__description {
  width: 375px;
  margin-bottom: 45px;

  @media (max-width: $mobileSie) {
    //width: 224px;
    width: 80%;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 25px;
  }
}
