@import "variables";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
  url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
  url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
  url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  word-wrap: normal;
  min-width: 320px;
  color: $textColor;
  background-color: #fdfcfa;
}

h2 {
  font-family: "Rubik", "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

a:focus {
  outline: none;
}

img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  min-width: initial;
  height: 1px;
  min-height: initial;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "button";
@import 'header';
@import "introduction";
@import "methodology";
@import "specialty";
@import "groups";
@import "teachers";
@import "banner";
@import "contacts";
@import "map";
@import "footer";